.vscode/**
.vscode-test/**
src/**
.gitignore
**/*.ts
!out/**/*.js
node_modules/**/test/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/.eslintrc*
node_modules/**/tsconfig.json
